# Global
global:
  namespace: app
  imagePullPolicy: IfNotPresent
  acr: "tactfulvotingappacr.azurecr.io"

# Toggle installation of DBs (if you already have them, set to false)
databases:
  install: true

postgres:
  # These should be sealed or provided through External Secrets in prod
  enabled: true
  image: "bitnami/postgresql:sha256-661beef0fb813d661a9b1f0156bfb685a5a176fe95b108f6a61e2532056c58b7"
  port: 5432
  persistence:
    enabled: true
    size: 5Gi
  username: "postgres"
  password: "postgres"
  database: "votingdb"

redis:
  enabled: true
  port: 6379
  image: "bitnami/redis:sha256-b5d1b1724b34690718f9368dd12a7b15ab2345afe3bf4d23082d69a8da23391e"
  usePassword: false
  persistence:
    enabled: true
    size: 2Gi

# App images
vote:
  replicaCount: 2
  image: "{{ .Values.global.acr }}/voteimage:latest"
  port: 8080

result:
  replicaCount: 2
  image: "{{ .Values.global.acr }}/resultimage:latest"
  port: 80
  targetPort: 4000

worker:
  replicaCount: 1
  image: "{{ .Values.global.acr }}/workerimage:latest"
  port: 80

seed:
  image: "{{ .Values.global.acr }}/seedimage:latest"
  backoffLimit: 0


# DNS/service names for DBs in db namespace
externalServices:
  postgresServiceFQDN: "postgres.db.svc.cluster.local"
  redisServiceFQDN: "redis.db.svc.cluster.local"