version: "3.9"
networks:
  frontend:
  backend:

services:
  db:
    build: ./docker/postgres
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: [ "CMD-SHELL", "/usr/local/bin/postgres-health.sh" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    build: ./docker/redis
    command: ["redis-server","--appendonly","yes"]
    volumes:
      - redisdata:/data
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "/usr/local/bin/redis-health.sh" ]
      interval: 10s
      timeout: 5s
      retries: 5

  worker:
    build: ./docker/worker
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend

  vote:
    build: ./docker/vote
    ports:
      - "8080:8080"
      - "80:8080"
    depends_on:
      - result
    networks:
      - frontend
      - backend

  result:
    build: ./docker/result
    ports:
      - "8081:4000"
    networks:
      - frontend
      - backend

  seed:
    build: ./docker/seed
    depends_on:
      db:
        condition: service_healthy
      vote:
        condition: service_started
    networks:
      - frontend
      - backend

volumes:
  pgdata:
  redisdata:
