apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: db
  labels:
    app: postgres
type: Opaque
stringData:
  username: {{ .Values.postgres.username | quote }}
  password: {{ .Values.postgres.password | quote }}
  database: {{ .Values.postgres.database | quote }}
