apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: app
spec:
  type: ExternalName
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
  externalName: {{ .Values.externalServices.redisServiceFQDN }}
